<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.luowb.clubrecruitment.dao.mapper.MajorMappingMapper">

    <resultMap id="BaseResultMap" type="cn.luowb.clubrecruitment.dao.entity.MajorMappingDO">
            <id property="code" column="code" />
            <id property="shortName" column="short_name" />
            <result property="fullName" column="full_name" />
    </resultMap>

    <sql id="Base_Column_List">
        code,short_name,full_name
    </sql>
</mapper>
