<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.luowb.clubrecruitment.dao.mapper.MediaResourceMapper">

    <resultMap id="BaseResultMap" type="cn.luowb.clubrecruitment.dao.entity.MediaResourceDO">
        <id property="id" column="id"/>
        <result property="type" column="type"/>
        <result property="url" column="url"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,type,url,title,description,create_time,
        update_time
    </sql>
    <update id="updateRefIdByIds">
        UPDATE media_resource
        SET ref_id = #{refId}, ref_type = #{refType}
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>
