{
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "vueIndentScriptAndStyle": true,
  "singleQuote": true,
  "semi": false,
  "quoteProps": "as-needed",
  "proseWrap": "never",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "auto"
}
