<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.luowb.clubrecruitment.dao.mapper.ProjectDetailMapper">

    <resultMap id="BaseResultMap" type="cn.luowb.clubrecruitment.dao.entity.ProjectDetailDO">
        <id property="id" column="id"/>
        <result property="projectId" column="project_id"/>
        <result property="timeRange" column="time_range"/>
        <result property="techStackDetail" column="tech_stack_detail"/>
        <result property="descriptionMd" column="description_md"/>
        <result property="teamDivision" column="team_division"/>
        <result property="awardIds" column="award_ids"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,project_id,time_range,media_resources,tech_stack_detail,description_md,
        team_division,award_ids,create_time,update_time
    </sql>
</mapper>
